/* green: #006340 */
html{
    font-family: sans-serif;
    background-color: white;
}

body{
    margin: 0;
    width: 100%;
}

main{
    min-height: 60vh;
    min-width: 100%;
    background-color: white;
}

header{
    display: flex;
    color: #006340;
    border-bottom: solid 1px #242424;;
    width: 100%;
    background-color: whitesmoke;
}

#stockz{
    font-size: 50px;
    margin: 20px;
    margin-left: 5%;
    font-family: 'Righteous', sans-serif;
    text-decoration: none;
    color: #006340;
    margin-top: auto;
    margin-bottom: auto;
}

nav{
    display: flex;
    justify-content: right;
    justify-self: right;
    text-align: right;
    margin-left: auto;
    margin-right: 5px;
}

.navLink{
    color: black;
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    text-decoration: none;
    max-width: 20%;
    margin: auto;
    transition: all 500ms;
    border-radius: 10px;
}

.navLink:hover{
    background-color: #006340;
    color: white;
    transition: all 500ms;
}

.material-symbols-outlined {
    background-color: whitesmoke;
    color: black;
    font-size: 20px;
    padding: 17px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    font-weight: normal;
    text-decoration: none;
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 20;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
    transition: all 500ms;
    border-radius: 10px;
}

.material-symbols-outlined:hover{
    color: white;
    background-color: #006340;
    transition: all 500ms;
}

#loading{
    width: 0;
    height: 0;
    background-color: #006340;
    color: white;
    text-align: center;
    padding: 10px;
    width: 20%;
    border-radius: 10px;
    margin: 10px auto;
    visibility: hidden;
}

#about{
    background-color: #006340;
    color: white;
    text-align: center;
    padding: 10px;
}

#hero{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #323232;
}

#hiddenImg{
    width: 100%;
    height: auto;
    transition: 1s;
}

.heroImg{
    width: 100%;
    height: auto;
    transition: 1s;
    position: absolute;
    opacity: 0;
}

#prods{
    display: flex;
    background-color: #006340;
    width: 90%;
    height: 15%;
    border-radius: 10px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#prods img{
    border-radius: 10px;
    max-width: 40%;
    max-height: 300px;
    margin: auto;
}

#prods p{
    width: 40%;
    height: 100%;
    margin: auto;
    padding: 5px;
    color: white;
    border-radius: 10px;
    font-size: 20px
}

#footer1{
    color: white;
    background-color: #242424;
    padding: 5px;
    padding-top: 25px;
    padding-bottom: 50px;
}

#footer2{
    color: white;
    background-color: black;
    justify-content: center;
    text-align: center;
    padding: 5px;
    padding: 25px;
}

.fIcon{
    height: 50px;
    width: 50px;
    margin: 5px;
}

#f1{
    font-size: 25px;
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#f2{
    display: flex;
    width: 80%;
    justify-content: left;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}

.f3{
    display: flex;
    justify-content: center;
}

.footLinkBold{
    text-align: left;
    color: white;
    text-decoration: none;
    margin: 10px;
    margin-left: 0;
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: large;
}

.footLinkBold:hover{
    text-decoration: underline;
}

.footLink{
    text-align: left;
    color: white;
    text-decoration: none;
    margin-left: 0;
}

.footLink:hover{
    text-decoration: underline;
}


.fBlock{
    line-height: 1.75;
    width: 20%;
    height: auto;
}

#filters{
    width: 85%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.filter{
    color: white;
    background-color: #006340;
    border: 2px solid #006340;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.filter select{
    color: white;
    border: none;
    background-color: #006340;
    font-size: 100%;
    text-align: center;
}

h4{
    margin: auto;
    font-size: 30px;
    font-weight: 500;
    display: flex;
    color: white;
    background-color:#006340;
    width: 90%;
    max-width: 1100px;
    margin: auto;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}

.grid1{
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: auto auto auto;
    gap: 3px;
    justify-content: center;
    /* border: solid black 2px; */
    padding: 1px;
    margin: 1px;
    border-collapse: collapse;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    max-width: 1100px;
    margin: auto;
    visibility: visible;
}

.product{
    background-color: white;
    /* border: solid black 1px; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding: 10px;
    width: auto;
    height: auto;
    margin: 3px;
    border-radius: 10px;
    transition: all  250ms;
}

.product:hover{
    box-shadow: 1px 1px 5px gray;
}

.buy{
    background-color: #006340;
    color: #fff9ec;
    border: none;
    padding: 10px;
    transition: all  250ms;
    border-radius: 10px;
}

.buy:hover{
    box-shadow: 1px 1px 5px black;
}

#faqs{
    width: 80%;
    max-width: 1000px;
    margin: auto;
    border: 2px solid black;
    text-align: center;
    border-radius: 10px;
}

#faqHead{
    font-size: larger;
    font-weight: bold;
}

.faq{
    font-weight: bold;
}

#supForm{
    width: 500px;
    background-color: #006340;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

#supForm label{
    font-size: 20px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#supForm input{
    width: 250px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 2px solid black;
    line-height: 2;
    border-radius: 10px;
    transition: all 500ms;
}

#supForm input::placeholder{
    color: black;
}

#supForm input:hover{
    box-shadow: 1px 1px 10px black;
}

#warning{
    color: red;
    background-color: white;
    font-size: 15px;
    border-radius: 10px;
}

#submission{
    position: fixed;
    font-size: 30px;
    font-weight: 500;
    display: flex;
    color: white;
    background-color:#006340;
    width: 0%;
    left: 10%;
    top: 35%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    text-align: center;
    justify-content: center;
    z-index: -1;
    transition: all 500ms ease-in-out;
    border-radius: 10px;
    border: 3px solid black;
}

#cart{
    color: white;
    background-color: #006340;
    position: absolute;
    width: 0%;
    left: 10%;
    right: auto;
    text-align: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
    z-index: -1;
    transition: all 500ms ease-in-out;
    border-radius: 10px;
    border: solid black 2px;
}

#addToCart{
    position: fixed;
    font-size: 30px;
    font-weight: 500;
    display: flex;
    color: white;
    background-color:#006340;
    width: 0%;
    left: 10%;
    top: 40%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    text-align: center;
    justify-content: center;
    z-index: -1;
    transition: all 500ms ease-in-out;
    border-radius: 10px;
    border: solid black 2px;
}

@media screen and (max-width:750px){ /* Resizing for phone screens */
    #stockz{
        font-size: 20px;
        margin: 10px;
        margin-top: auto;
        margin-bottom: auto;
        color: #006340;
    }
    
    .navLink{
        font-size: 10px;
        padding: 40px;
        padding-left: 3px;
        padding-right: 3px;
    }

    .material-symbols-outlined {
        font-size: 20px;
        padding: 40px;
        padding-left: 3px;
        padding-right: 3px;
        font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 10
    }

    #f1{
        font-size: 25px;
        display: flex;
        width: 90%;
    }
    
    #f2{
        display: flex;
        width: 90%;
        padding-bottom: 5px;
    }

    .footLinkBold{
        margin: 10px;
        margin-left: 0;
        margin-bottom: 20px;
        font-size: 10px;
    }

    .footLink{
        margin-left: 0;
        font-size: 10px;
    }

    #supForm{
        width: 80%;
    }

    #prods p{
        font-size: 10px;
    }

    .product{
        background-color: white;
        border: solid black 2px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
        padding: 5px;
        width: auto;
        height: auto;
        margin: 3px;
        border-radius: 10px;
        transition: all  250ms;
    }
}